body,html{
	height: 100%;
}
.login-background {
          background-color: #1abc9c;
          height: 100%;
          padding-top: 10%;
}

.mlogin-icon>img {
  display: block;
  width: 96px;
  margin-bottom: 6px;
  margin:0 auto;
}
.mlogin-icon>h4{
	text-align: center;
}